/node_modules
/public/hot
/public/storage
/public/robots.txt
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.idea/workspace.xml
.idea/php.xml
.htaccess
.user.ini
php.ini
/public/sitemap*.xml
/public/.htaccess
